<div class="content">
    <div>
        Filtrar por:
        <label>
            <input type="text" [(ngModel)]="filterBy" (ngModelChange)="filterTable()" placeholder="(marca de coche)"/>
        </label>
    </div>

    <div>
        <p *ngIf="cochesTabla.length == 0">No hay coches a la venta.</p>
        <table *ngIf="cochesTabla.length > 0">
            <thead>
            <tr>
                <th>Foto</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>En venta desde</th>
                <th>Precio</th>
                <th>PVP</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tr *ngFor="let coche of cochesTabla" [ngClass]="{'hidden-car': coche.vendido}">
                <td><img width="50px" [src]="coche.modelo.fotoUrl"/></td>
                <td>{{coche.modelo.marca.nombre}}</td>
                <td>{{coche.modelo.nombre}}</td>
                <td>{{coche.modelo.anyo}}</td>
                <td>{{coche.inicioVenta | date:'MM-yyyy'}}</td>
                <td>{{coche.precio | currency:'EUR':'symbol':undefined:'es'}}</td>
                <td>{{coche.modelo.pvp | currency:'EUR':'symbol':undefined:'es'}}</td>
                <td>
                    <button (click)="rebajar(coche)">Rebajar</button>
                    <button (click)="marcarVendido(coche)">Vendido</button>
                </td>
            </tr>
        </table>
    </div>
</div>
