.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--corporativeColor);
  padding: 15px
}

table {
  border-collapse:collapse;
}
table > thead {
  background-color: brown;
  border-spacing: 0px;
}

table > tr > th {
  text-align: left;
}

table > tr {
  border-bottom: 1px solid brown;
}
table > tr:last-child {
  border-bottom: none;
}

.hidden-car {
  display: none;
}
